

body {
    font-family: Georgia;
    color: rgb(1, 2, 70);
}



h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
    text-decoration: underline;
}

#inner {
    padding: 20px 80px;
    margin: 100px auto;
    background: #e5e5e5;
    border: solid rgb(1, 2, 70);
    border-width: 7px 0 2px 0;
}

.Eric_title_box {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 2px solid rgb(1, 2, 70, 0.35);
}

.section {
    padding: 1em;
    border-bottom: 2px solid rgb(1, 2, 70, 0.35);
}

.emp_section {
    border-bottom: 2px solid rgb(1, 2, 70, 0.075);
    padding: 1em;
}

.info{
    font-size: 18px
}




li {
    line-height: 24px;
    ;
}

.talent {
    list-style-type: none;
    border-bottom: 1px solid rgb(1, 2, 70, 0.35)
}

.last {
    border-bottom: 0
}

@media screen and (max-width: 850px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 16px;
    }
    h5 {
        font-size: 14px;
    }
    p {
        font-size: 14px;
    }
    li {
        font-size: 14px;
    }

    #inner{
        padding: 1em;
    }
}